* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
}

.portfolio {
  box-sizing: border-box;
  display: block;
  width: 900px;
}

.toolbar {
  display: flex;
  margin: 20px 15px;
}

.filter {
  margin-right: 10px;
  padding: 5px;
}

.project__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 1800px;
}

.project {
  display: block;
  width: 300px;
  padding: 15px;
}