* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toolbar {
  flex-direction: row;
  flex-wrap: nowrap;
}
.project__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.portfolio {
  width: 900px;
  height: 1900px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

.project {
  display: flex;
  padding: 15px;
  /* margin-top: 15px; */
  /* justify-content: space-between; */
  /* align-items: center; */
}